<section class="oe_container">
    <div class="oe_row oe_spaced">
        <div class="oe_span6 ">
            <img class="oe_picture oe_screenshot" src="banner.png">
        </div>
        <div class="oe_span6 text-justify oe_mt32">
            <h2 class="oe_slogan" style="color:#875A7B;">Delivery with Colissimo</h2>
            <h3 class="oe_slogan">Send your packages easily with Colissimo !</h3>
        </div>
    </div>
</section>

<section class="oe_container oe_separator">
</section>

<section class="oe_container oe_dark">
    <div class="oe_row oe_spaced">
        <h3 class="oe_slogan"><i class="fa fa-cubes"></i> Features</h3>
        <div class="text-justify oe_mt32">
        <ul class="list-unstyled">
          <li><i class="fa fa-check text-primary"></i> Support Multi-parcel</li>
          <li><i class="fa fa-check text-primary"></i> Return the tracking link.</li>
          <li><i class="fa fa-check text-primary"></i> Cancel your send if needed.</li>
          <li><i class="fa fa-check text-primary"></i> Configure customs (possibility to use with the Product Harmonized System Codes module by OCA).</li>
          <li><i class="fa fa-check text-primary"></i> Add a personalized pricing.</li>
          <li><i class="fa fa-check text-primary"></i> Possibility of direct printing upon validation of an order.</li>
          <li><i class="fa fa-check text-primary"></i> Allows the selection of relay points on the web store (by adding the <a href="https://apps.odoo.com/apps/modules/15.0/a4o_website_delivery_relaypoint/">a4o_website_delivery_relaypoint</a> module)</li>
        </ul>
      </div>
    </div>
</section>

<section class="oe_container oe_separator">
</section>

<section class="oe_container oe_dark">
    <div class="oe_row oe_spaced">
        <h3 class="oe_slogan">Configuration</h3>
    </div>
</section>

<section class="oe_container oe_dark">
    <div class="bg alert alert-info">
        <p>
        <strong>IMPORTANT NOTE :</strong> If you want to use that module properly, you have to define your
         customers in Odoo like this: <strong>Firstname Lastname</strong>. Then the colissimo module will define
         your label correctly. e.g: Martin(Firstname) DUPONT(Lastname), on your label will be: DUPONT Martin and
         that is the correct way to use it, then colissimo can sort correctly.
        </p>
    </div>
    <div class="oe_row oe_spaced">
        <h5 class="oe_slogan">1. Customize and/or add delivery products</h5>
        <div class="oe_span6 text-justify oe_mt32">
            <span class="fa fa-sliders fa-2x pull-left"/>
            <p class="oe_mb32" style="margin-left:48px;">
            These products will be added to your sale when using &laquo;&nbsp;Colissimo&nbsp;&raquo;
            as a carrier.
            There is at least one product per delivery method.
            </p>
        </div>
        <div class="oe_span6">
            <img class="oe_picture" src="intro_colissimo1.png">
        </div>
    </div>

    <div class="oe_row oe_spaced">
        <h5 class="oe_slogan">2. Customize and/or add delivery packages</h5>
        <div class="oe_span6">
            <img class="oe_picture" src="config_package_01.png">
        </div>
        <div class="oe_span6 text-justify oe_mt32">
            <span class="fa fa-sliders fa-2x pull-left"/>
            <p class="oe_mb32" style="margin-left:48px;">
            Configure the use of packages.
            </p>
        </div>
      </div>
      <div class="oe_row oe_spaced">
        <div class="oe_span6 text-justify oe_mt32">
            <span class="fa fa-sliders fa-2x pull-left"/>
            <p class="oe_mb32" style="margin-left:48px;">
            Define the characteristics of the packages that can be used.
            </p>
        </div>
        <div class="oe_span6">
            <img class="oe_picture" src="config_package_02.png">
        </div>
    </div>

    <div class="oe_row oe_spaced">
        <h5 class="oe_slogan">3. Customize and/or add delivery methods</h5>
        <div class="oe_span6">
            <img class="oe_picture" src="config_method_01.png">
        </div>
        <div class="oe_span6 text-justify oe_mt32">
            <span class="fa fa-sliders fa-2x pull-left"/>
            <p class="oe_mb32" style="margin-left:48px;">
            Adapt the delivery methods to your needs and above all define the
            connection information.
            </p>
        </div>
    </div>

    <div class="oe_row oe_spaced">
        <h5 class="oe_slogan">5. Add customs rules</h5>
        <div class="oe_span6 text-justify oe_mt32">
            <span class="fa fa-sliders fa-2x pull-left"/>
            <p class="oe_mb32" style="margin-left:48px;">
            Personalized customs options
            </p>
        </div>
        <div class="oe_span6">
            <img class="oe_picture" src="customs_config1.png">
        </div>
    </div>    

    <div class="oe_row oe_spaced">
        <h5 class="oe_slogan" style="margin-bottom: -2px;">5.1.(optional) Usage with OCA Product Harmonized System Codes module</h5>
        <div class="oe_span6">
            <img class="oe_picture" src="">
        </div>
        <div class="oe_span6 text-justify oe_mt32">
            <span class="fa fa-sliders fa-2x pull-left" style="margin-left: -50px; margin-bottom: -30px;"/>
            <div class="bg alert alert-info">
                <p>
                If you want to use the OCA Product Harmonized System Codes 
                module please follow the following link for 
                the installation:<br><a href="https://apps.odoo.com/apps/modules/13.0/product_harmonized_system">
                https://apps.odoo.com/apps/modules/13.0/product_harmonized_system</a>
                </p>
            </div>
        </div>
    </div>

    <div class="oe_row oe_spaced">
        <h5 class="oe_slogan">5.2. (optional) Configuration of customs options in the product config</h5>
        <div class="oe_span6 text-justify oe_mt32">
            <span class="fa fa-sliders fa-2x pull-left"/>
            <p class="oe_mb32" style="margin-left:48px;">
            If the OCA Product Harmonized System Codes module is installed, 
            then you can configure the H.S Code and the country of origin
            directly in the product configuration.         
            </p>
        </div>
        <div class="oe_span6">
            <img class="oe_picture" src="intrastat_1-1.png">
        </div>
    </div>

    <div class="oe_row oe_spaced">
        <h5 class="oe_slogan">5.3. (optional) Generating of customs document (CN23)</h5>
        <div class="oe_span6">
            <img class="oe_picture" src="intrastat_2-1.png">
            <img class="oe_picture" src="intrastat_3-1.png">
        </div>
        <div class="oe_span6 text-justify oe_mt32">
            <span class="fa fa-sliders fa-2x pull-left"/>
            <p class="oe_mb32" style="margin-left:48px;">
            When your delivery (if use customs) is validated, your customs document 
            (CN23) will be generated. Click on it for check the informations
             (H.S code & country origin).  
            </p>
        </div>
    </div>    

</section>

<section class="oe_container oe_separator">
</section>

<section class="oe_container oe_dark">
    <div class="oe_row oe_spaced">
        <h3 class="oe_slogan">Usage: without relay point</h3>
        <p class="oe_mb32" style="margin-left:48px;">
            Colissimo distinguishes between the name and the first name. To
            fill in the labels correctly we have assumed that what separates
            the name from the first name of an individual is a space.
            Everything before the space is the first name, everything after
            the space is the last name.
        </p>
    </div>
</section>

<section class="oe_container oe_dark">
    <div class="oe_row oe_spaced">
        <h5 class="oe_slogan">1. Select the delivery method in sale</h5>
        <div class="oe_span6 text-justify oe_mt32">
            <span class="fa fa-sliders fa-2x pull-left" style="margin-top: 25px;"/>
            <p class="oe_mb16" style="margin-top: 25px;">
                <ol style="margin-left: 24px;">
                    <li>Add a shipping method.</li>
                </ol>
            </p>
        </div>
        <div class="oe_span6 text-justify oe_mt32">
            <img class="oe_picture" src="get_rate_coli_0-1.png">
        </div>
    </div>
</section>

<section class="oe_container oe_dark">
    <div class="oe_row oe_spaced">
        <div class="oe_span6 text-justify oe_mt32">
            <img class="oe_picture" src="get_rate_coli_1-1.png">
        </div>
        <div class="oe_span6 text-justify oe_mt32">
            <span class="fa fa-sliders fa-2x pull-left" style="margin-top: 25px;"/>
            <p class="oe_mb16" style="margin-top: 25px;">
                <ol style="margin-left: 24px;">
                    <li>Choose the carrier.</li>
                    <li>Get the rate.</li>
                </ol>
            </p>
        </div>
    </div>
</section>

<section class="oe_container oe_dark">
    <div class="oe_row oe_spaced">
        <div class="oe_span6 text-justify oe_mt32">
            <span class="fa fa-sliders fa-2x pull-left" style="margin-top: 25px;"/>
            <p class="oe_mb16" style="margin-top: 25px;">
                <ol style="margin-left: 24px;">
                    <li>Check the amount and add it to your sale.</li>
                </ol>
            </p>
        </div>
        <div class="oe_span6 text-justify oe_mt32">
            <img class="oe_picture" src="get_rate_coli_2-1.png">
        </div>
    </div>
</section>

<section class="oe_container oe_dark">
    <div class="oe_row oe_spaced">
        <div class="oe_span6 text-justify oe_mt32">
            <img class="oe_picture" src="get_rate_coli_3-1.png">
        </div>
        <div class="oe_span6" style="margin-top: 50px;">
            <span class="fa fa-sliders fa-2x pull-left"/>
            <p class="oe_mb32" style="margin-left:48px;">
            Double check that the delivery method has been added to the sale. 
            Then you can validate your sale.
            </p>
        </div>
    </div>
</section>


<section class="oe_container oe_dark">
    <div class="oe_row oe_spaced">
        <h5 class="oe_slogan">2. Get the label</h5>
        <div class="oe_span6" style="margin-top: 25px;">
            <span class="fa fa-sliders fa-2x pull-left"/>
            <p class="oe_mb32" style="margin-left:48px;">
            After confirming the sale, putting the products in a package,
            shipping this package, you can retrieve the label in the
            attachments and stick it on the package.
            </p>
        </div>
        <div class="oe_span6">
            <img class="oe_picture" src="label_pdf1.png">
        </div>
    </div>
</section>

<section class="oe_container oe_separator">
</section>

<section class="oe_container oe_dark">
    <div class="oe_row oe_spaced">
        <h3 class="oe_slogan">Usage: with relay point</h3>
        <p class="oe_mb32" style="margin-left:48px;">
            Same remark on the surname and first name as the paragraph
            &laquo;Usage (without relay point)&raquo;.
        </p>
    </div>
</section>

<section class="oe_container oe_dark">
    <div class="oe_row oe_spaced">
        <h5 class="oe_slogan">1.1 (on the back office) Select the delivery method in sale</h5>
        <div class="oe_span6 text-justify oe_mt32">
            <img class="oe_picture" src="get_rate_coli_0-1.png">
        </div>
        <div class="oe_span6 text-justify oe_mt32">
            <span class="fa fa-sliders fa-2x pull-left" style="margin-top: 25px;"/>
            <p class="oe_mb16" style="margin-top: 25px;">
                <ol style="margin-left: 24px;">
                    <li>Add a shipping method.</li>
                </ol>
            </p>
        </div>
    </div>
</section>

<section class="oe_container oe_dark">
    <div class="oe_row oe_spaced">
        <div class="oe_span6 text-justify oe_mt32">
            <span class="fa fa-sliders fa-2x pull-left" style="margin-top: 25px;"/>
            <p class="oe_mb16" style="margin-top: 25px;">
                <ol style="margin-left: 24px;">
                    <li>Choose the carrier.</li>
                    <li>Get the rate.</li>
                </ol>
            </p>
        </div>
        <div class="oe_span6 text-justify oe_mt32">
            <img class="oe_picture" src="get_rate_coli_relay_1-1.png">
        </div>
    </div>
</section>

<section class="oe_container oe_dark">
    <div class="oe_row oe_spaced">
        <div class="oe_span6 text-justify oe_mt32">
            <img class="oe_picture" src="get_rate_coli_relay_2-1.png">
        </div>
        <div class="oe_span6 text-justify oe_mt32">
            <span class="fa fa-sliders fa-2x pull-left" style="margin-top: 25px;"/>
            <p class="oe_mb16" style="margin-top: 25px;">
                <ol style="margin-left: 24px;">
                    <li>Check the amount and add it to your sale.</li>
                </ol>
            </p>
        </div>
    </div>
</section>

<section class="oe_container oe_dark">
    <div class="oe_row oe_spaced">
        <div class="oe_span6" style="margin-top: 50px;">
            <span class="fa fa-sliders fa-2x pull-left"/>
            <p class="oe_mb32" style="margin-left:48px;">
            Double check that the delivery method has been added to the sale. 
            Then you can validate your sale.
            </p>
        </div>
        <div class="oe_span6 text-justify oe_mt32">
            <img class="oe_picture" src="get_rate_coli_relay_3-1.png">
        </div>
    </div>
</section>

<section class="oe_container oe_dark">
    <div class="oe_row oe_spaced">
        <h5 class="oe_slogan">1.1 (on the web store) Select the delivery method of the shopping cart in the online store</h5>
        <div class="oe_span6">
            <img class="oe_picture" src="coli_web_relay_point.png">
        </div>
        <div class="oe_span6 text-justify oe_mt32">
            <span class="fa fa-sliders fa-2x pull-left"/>
            <p class="oe_mb32" style="margin-left:48px;">
            Select a shipping method, choose your relay point and validate your cart.
            </p>
        </div>
    </div>
</section>

<section class="oe_container oe_dark">
    <div class="oe_row oe_spaced">
        <h5 class="oe_slogan">3. Get the label</h5>
        <div class="oe_span6 text-justify oe_mt32">
            <span class="fa fa-sliders fa-2x pull-left"/>
            <p class="oe_mb32" style="margin-left:48px;">
            After confirming the sale, putting the products in a package,
            shipping this package, you can retrieve the label in the
            attachments and stick it on the package.
            </p>
        </div>
        <div class="oe_span6">
            <img class="oe_picture" src="label_relaypoint1.png">
        </div>
    </div>
</section>

<section class="oe_container oe_separator">
</section>

<section class="oe_container oe_dark">
    <div class="oe_row oe_spaced">
        <h3 class="oe_slogan">Usage : Delivery Slip</h3>
        <p class="oe_mb32" style="margin-left:48px;">
            If you do not use the Colissimo pickup service, you have the option
            of generating the delivery slip summarizing the list of packages
            sent.
        </p>
    </div>
</section>

<section class="oe_container oe_dark">
    <div class="oe_row oe_spaced">
        <h5 class="oe_slogan">1. Filter the list of pickings</h5>
            <div class="oe_span6 text-justify">
                <span class="fa fa-sliders fa-2x pull-left" style="margin-top: 25px"/>
                <p class="oe_mb16" style="margin-top: 25px">
                    &emsp; From the list of outgoing pickings :
                    <ol style="margin-left: 24px;">
                        <li>Filter the pickings &laquo;Done&raquo;.</li>
                        <li>Filter the pickings that do not yet have a slip.</li>
                        <li>Filter the pickings sent by Colissimo.</li>
                    </ol>
                </p>
            </div>
            <div class="oe_span6">
                <img class="oe_picture" src="picking_filters1.png">
            </div>
    </div>
</section>

<section class="oe_container oe_dark">
    <div class="oe_row oe_spaced">
        <h5 class="oe_slogan">2. Select the pickings sent and get the slip</h5>
        <div class="oe_span6">
            <img class="oe_picture" src="delivery_slip_01.png">
        </div>
        <div class="oe_span6 text-justify oe_mt32">
            <span class="fa fa-sliders fa-2x pull-left" style="margin-top: 20px;"/>
            <p class="oe_mb16" style="margin-top: 20px;">
                <ol style="margin-left: 24px;">
                    <li>Select the pickings.</li>
                    <li>Launch the recovery of the slip.</li>
                </ol>
            </p>
        </div>
    </div>
</section>

<section class="oe_container oe_dark">
    <div class="oe_row oe_spaced">
        <h5 class="oe_slogan">3. Display of the slip</h5>
        <div class="oe_span6 text-justify oe_mt32">
            <span class="fa fa-sliders fa-2x pull-left" style="margin-top: 20px;"/>
            <p class="oe_mb16" style="margin-top: 20px;">
                <ol style="margin-left: 24px;">
                    <li>List of pickings in the slip.</li>
                    <li>Delivery slip in pdf format.</li>
                </ol>
            </p>
        </div>
        <div class="oe_span6">
            <img class="oe_picture" src="display_slip1.png">
        </div>
    </div>
</section>

<section class="oe_container oe_dark">
    <div class="oe_row oe_spaced">
        <h5 class="oe_slogan">4. List the slips</h5>
        <div class="oe_span6">
            <img class="oe_picture" src="delivery_slip_04.png">
            <img class="oe_picture" src="delivery_slip_05.png">
        </div>
        <div class="oe_span6 text-justify oe_mt32">
            <span class="fa fa-sliders fa-2x pull-left"/>
            <p class="oe_mb32" style="margin-left:48px;">
                You can also consult the history of the slips.
            </p>
        </div>
    </div>
</section>

<section class="oe_container oe_separator">
</section>

<section class="oe_container oe_dark">
    <div class="oe_row oe_spaced">
        <h3 class="oe_slogan">Usage: Direct printing</h3>
        <p class="oe_mb32" style="margin-left:48px;">
            Colissimo module add an option for printing directly
            the label when the delivery form is validate.
            When you activate the option "direct printing"
            in the colissimo configuration, you will get the 
            delivery slip in pdf format as before, but that 
            will direct print the label with the printer configured 
            beforehand.
        </p>
    </div>
</section>


<section class="oe_container oe_dark">
    <div class="oe_row oe_spaced">
        <h5 class="oe_slogan">1. Install additionnal module "Report to printer"</h5>
        <div class="oe_span6 text-justify oe_mt32">
            <span class="fa fa-sliders fa-2x pull-left"/>
            <p class="oe_mb32" style="margin-left:48px;">
            For more information on the installation and configuration
             of this module, consult:<a href="https://apps.odoo.com/apps/modules/13.0/base_report_to_printer/">
             https://apps.odoo.com/apps/modules/13.0/base_report_to_printer/</a>
            </p>
        </div>
        <div class="oe_span6">
            <img class="oe_picture" src="install_report1.png">
        </div>
    </div>
</section>

<section class="oe_container oe_dark">
    <div class="oe_row oe_spaced">
        <h5 class="oe_slogan">2. Configure your printer(s)</h5>
        <div class="oe_span6">
            <img class="oe_picture" src="">
        </div>
        <div class="oe_span6 text-justify oe_mt32">
            <span class="fa fa-sliders fa-2x pull-left"/>
            <p class="oe_mb32" style="margin-left:48px;">
            For more information on the installation and configuration
             of printers, consult: <a href="https://apps.odoo.com/apps/modules/13.0/base_report_to_printer/">
             https://apps.odoo.com/apps/modules/13.0/base_report_to_printer/</a>
            </p>
        </div>
    </div>
</section>

<section class="oe_container oe_dark">
    <div class="oe_row oe_spaced">
        <h5 class="oe_slogan">3. Upgrade colissimo module (IMPORTANT !)</h5>
         <div class="oe_span6 text-justify oe_mt32">
            <span class="fa fa-sliders fa-2x pull-left" style="margin-bottom: -30px;"/>
            <div class="bg alert alert-info"style="margin-left: 38px; margin-top: -15px;">
                <p>
                1. Upgrade your module a4o_delivery_colissimo. It's a really important
                step!
                </p>
            </div>
        </div>
        <div class="oe_span6">
            <img class="oe_picture" src="upgrade_coli1.png">
        </div>
    </div>
</section>

<section class="oe_container oe_dark">
    <div class="oe_row oe_spaced">
        <h5 class="oe_slogan">4. Activate the "direct printing" option</h5>
        <div class="oe_span6">
            <img class="oe_picture" src="direct_printing.png">
        </div>
        <div class="oe_span6 text-justify oe_mt32">
            <span class="fa fa-sliders fa-2x pull-left"/>
            <p class="oe_mb32" style="margin-left:48px;">
             In your colissimo configuration you should activate 
             the "direct printing" option.
            </p>
        </div>
    </div>
</section>

<section class="oe_container oe_dark">
    <div class="oe_row oe_spaced">
        <h5 class="oe_slogan">5. Select your printer</h5>
        <div class="oe_span6 text-justify oe_mt32">
            <span class="fa fa-sliders fa-2x pull-left"/>
            <p class="oe_mb32" style="margin-left:48px;">
             Then open the wizard for select a printer
            </p>
        </div>
        <div class="oe_span6">
            <img class="oe_picture" src="open_wizard_printer1.png">
        </div>
    </div>
</section>

<section class="oe_container oe_dark">
    <div class="oe_row oe_spaced">
        <h5 class="oe_slogan">6. Validate the printer</h5>
        <div class="oe_span6">
            <img class="oe_picture" src="open_wizard_printer1.png">
        </div>
        <div class="oe_span6 text-justify oe_mt32">
            <span class="fa fa-sliders fa-2x pull-left"/>
            <p class="oe_mb32" style="margin-left:48px;">
            1. Select and validate the printer you need
            </p>
        </div>
    </div>
</section>

<section class="oe_container oe_dark">
    <div class="oe_row oe_spaced">
        <h5 class="oe_slogan">7. Ready for direct printing</h5>
        <p class="oe_mb32" style="text-align:center;">
            From now the label will be print directly and automatically
            on the selected printer when you will validate a delivery order.
            </p>
    </div>
</section>
